<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Euronics manager</title>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <style>
         body {
         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
         line-height:1.5em;
         color: #232323;
         -webkit-font-smoothing: antialiased;
         }
         h1, h2, h3 {
         font-family: Times, serif;
         line-height:1.5em;
         border-bottom: 1px solid #ccc;
         }
         .page-header {
         border-bottom: 0px;
         }
      </style>
      <link type="text/css" rel="stylesheet" href= "static/styles/component.css" />
   </head>
   <body>
      <!-- Begin page content -->
      <div class="container">
         <div class="page-header">
            <h1><a href="http://0.0.0.0:5000">Euronics Manager</a></h1>
            <p> Application that manages an euronics DB saving tables of phones, retailers and sales. The entire development process is automate by a CI/CD pipeline. </p>
         </div>
         {% if main %}

         <div class="container">
          <div class="row">
            <div class="col-sm">
                <h1>Rivenditore</h1>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id rivenditore</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in rivenditore %}
                      <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                          <td>{{ row[2] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <h1>Cellulare</h1>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Numero seriale</th>
                        <th scope="col">Modello</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in cellulare %}
                      <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <h1>Vendite</h1>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Numero vendita</th>
                        <th scope="col">Numero seriale</th>
                        <th scope="col">Id rivenditore</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in vendita %}
                      <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                          <td>{{ row[2] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>

          </div>
         <hr>
        <div class="row">
            <div class="col-sm">
                <h1>Aggiungi nuovo rivenditore</h1>
                <form method="POST" action="/addRivenditore">
                    <div class="container">
                        <label for="idR"><b>Id rivenditore</b></label>
                        <input type="text" placeholder="Id rivenditore" name="idR" required>
                        <br>
                        <label for="name"><b>Nome</b></label>
                        <input type="text" placeholder="Nome" name="nome" required>
                        <br>
                        <label for="name"><b>Cognome</b></label>
                        <input type="text" placeholder="Cognome" name="cognome" required>

                        <button type="submit" class="btn btn-default">Aggiungi rivenditore</button>
                    </div>
                </form>
            </div>
            <div class="col-sm">
                <h1>Aggiungi nuovo prodotto</h1>
                <form method="POST" action="/addProdotto">
                    <div class="container">
                        <label for="name"><b>Numero seriale</b></label>
                        <input type="text" placeholder="Seriale" name="seriale" required>
                        <br>
                        <label for="name"><b>Nome modello</b></label>
                        <input type="text" placeholder="Modello" name="modello" required>

                        <button type="submit" class="btn btn-default">Aggiungi nuovo prodotto</button>
                    </div>
                </form>
            </div>

            <div class="col-sm">
                <h1>Aggiungi nuova vendita</h1>
                <form  method="POST" action="/addVendita">
                    <div class="container">
                        <label for="serialeV"><b>Numero seriale</b></label>
                        <input type="text" placeholder="Numero seriale" name="serialeV" required>
                        <br>
                        <label for="id"><b>Id rivenditore</b></label>
                        <input type="text" placeholder="Id rivenditore" name="id" required>

                        <button type="submit" class="btn btn-default">Aggiungi vendita</button>
                    </div>
                </form>
            </div>
        </div>

        </div>



        {% endif %}
      <hr>

      <div id="footer">
         <div class="container">
            <p>Processo e sviluppo del Software 2019 - Amrani Hamza 807386, Leonardo Antonio De Lisi 808973</p>
         </div>
      </div>

   </body>
</html>
